.FinTechAdminLayout {
  background-color: #f4f6f9;

  &-header {
    height: 50px;
    padding: 0;
    line-height: 50px;
  }

  &-header,
  &-mainNav {
    background-color: #428df5;
  }

  &-brand,
  &-topMenu {
    display: inline-block;
    vertical-align: top;
  }

  &-brand {
    width: 266px;
    padding: 0 24px;
    font-size: 16px;
    color: #fff !important;
  }

  &-topMenu {
    height: 100%;
  }

  &-mainNav {
    color: #fff;

    :global {
      .ant-menu-item {
        color: inherit !important;
      }
    }
  }

  &-sidebar {
    background-color: transparent;
  }

  &-menu,
  &-subNav {
    height: 100%;
  }

  &-menu {
    width: 240px;
  }

  &-main {
    background-color: #fff;
  }
}