.ItemListFieldWidget {
  margin: -3px -4px;

  &-item {
    display: inline-block;
    margin: 3px 4px;
    padding: 5px 8px;
    line-height: 1;
    color: #428df5;
    background-color: #e9f2fb;
  }
}