.TableView {
  $table-actions-height: 30px;

  height: 100%;

  &,
  &-body {
    display: flex;
    flex-direction: column;
  }

  &-header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #e9ebf0;
  }

  &-breadcrumb {
    list-style: none inside none;
    margin: 0;
    padding: 0;

    @include pie-clearfix;

    li {
      float: left;

      a {
        color: #333 !important;
      }

      &:last-of-type {
        color: #666;
      }

      + li {
        position: relative;
        margin-left: 16px;
        padding-left: 16px;

        &:before {
          content: "\0020";
          position: absolute;
          top: 50%;
          left: 0;
          width: 1px;
          height: 14px;
          background-color: #dfe1e6;
          transform: translateY(-50%);
        }
      }
    }
  }

  &-body,
  &-dataTable {
    flex-grow: 1;
  }

  &-body {
    padding: 12px 20px 0;
  }

  &-meta {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &-search,
  &-tableActions {
    flex-shrink: 0;
  }

  &-tableActions {
    height: $table-actions-height;
  }

  :global {
    .ActionWidget {
      cursor: pointer;
    }
    
    .ActionWidget + .ActionWidget {
      margin-left: 8px;
    }
  }
}
